
/* 타입 스타일*/
Label {
	-fx-padding: 10;
}

#lbl01 {
	-fx-font-size: 16;
}

.a{
	-fx-font-weight: bold;
}

Button {
	-fx-text-fill: red;
}

#btnId {
	-fx-background-color: blue;
}

#btnOk {
	-fx-background-color: yellow;
}

#btnCancel {
	-fx-background-color: black;
}

.btnClass {
	-fx-font-size: 24;
	-fx-font-weight: bold;
}
